@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">
    </environment>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" asp-action="index" asp-controller="home">
                <img src="~/images/banner.jpg" height="50" />
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon" />
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-action="@nameof(HomeController.Index)" asp-controller="@(Utility.GetControllerRouteName<HomeController>())" class="nav-link">List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="@nameof(HomeController.Create)" asp-controller="@(Utility.GetControllerRouteName<HomeController>())" class="nav-link">Create</a>
                    </li>
                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Super Admin")))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDonwMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDonwMenuLink">
                                <a class="dropdown-item" asp-action="@nameof(AdministrationController.ListUsers)"
                                   asp-controller="@(Utility.GetControllerRouteName<AdministrationController>())">
                                    Users
                                </a>
                                <a class="dropdown-item" asp-action="@nameof(AdministrationController.ListRoles)"
                                   asp-controller="@(Utility.GetControllerRouteName<AdministrationController>())">
                                    Roles
                                </a>
                            </div>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-action="@nameof(AccountController.Logout)" asp-controller="@(Utility.GetControllerRouteName<AccountController>())">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Logout <span class="text-success">@User.Identity.Name</span>
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-action="@nameof(AccountController.Register)" asp-controller="@(Utility.GetControllerRouteName<AccountController>())" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="@nameof(AccountController.Login)" asp-controller="@(Utility.GetControllerRouteName<AccountController>())" class="nav-link">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", true)
        }
    </div>
</body>
</html>
